.card-body {
  width: 95vw;
}

.connections {
  flex-direction: column !important;
}

.connect {
  margin: 2vh;
  flex-direction: column;
}

.textbox-2 {
  margin: 0;
  padding-top: 15vh;
  margin-right: 5vw;
}

.grouping {
  flex-direction: column;
}

.map {
  width: 95vw;
  height: 50vh;
}

.info {
  width: 95vw;
}

.btn-group {
  display: flex;
  flex-direction: column;
}
