.index h1 {
  font-size: 6vh;
  text-align: center;
  margin-top: 5vh;
}

.index h2 {
  font-size: 8vh;
  text-align: center;
}

button {
  font-size: 5vh;
  width: 70vw;
  border-radius: 10vh;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

iframe {
  width: 80vw;
  height: 25vh;
}
