
@font-face {
  font-family: kauffman;
  src: url('../../fonts/kauffman.ttf');
}

@font-face {
  font-family: freebooter;
  src: url('../../fonts/freebooter.ttf');
}

@font-face {
  font-family: jokerman;
  src: url('../../fonts/jokerman.ttf');
}

.index h1 {
  font-family: "kauffman", sans-serif;
  font-size: 8vh;
  margin: 1vh;
}

.index h2 {
  font-family: "freebooter", sans-serif;
  font-size: 14vh;
  margin: 1vh;
}

.index {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
