.card-body {
  width: 95vw;
}

.textbox {
  text-align: center;
}

.connections {
  flex-direction: column !important;
  width: 100vw;
}

.connect-section {
  flex-direction: column;
  width: 100vw;
}

.connect h2 {
  text-align: center;
}

.info-piece {
  width: 80vw;
  overflow: hidden;
}

.grouping {
  flex-direction: column;
}

.map {
  width: 95vw;
  height: 50vh;
}

.info {
  width: 95vw;
}

p.btn {
  display: flex;
  flex-direction: column;
}

.rentals {
  background-size: cover;
}

.location {
  margin-bottom: 0;
}
