.card-body {
  width: 95vw;
}

.textbox {
  text-align: center;
}

.connections {
  flex-direction: column;
  width: 100vw;
}

.connect-section {
  flex-direction: column;
}

form {
  width: 70vw;
}

.connect h2 {
  text-align: center;
}

.grouping {
  flex-direction: column;
}

.map {
  width: 95vw;
  height: 50vh;
}

.info {
  width: 95vw;
}

.rentals {
  background-size: cover;
}

.location {
  margin-bottom: 0;
}
